@{
  Layout = "_Layout";
}

@using Pierre.ViewModels
@model LoginViewModel

<h2>Log in</h2>
<hr/>
@using (Html.BeginForm())
{
  @Html.LabelFor(m=>m.Email)<br>
  @Html.TextBoxFor(m=>m.Email)<br>

  @Html.LabelFor(m=>m.Password)<br>
  @Html.PasswordFor(m=> m.Password)<br>

  <input type="submit" value="Log in" class="btn btn-default"/>
}
<p>Don't have an account?<br>
@Html.ActionLink("Sign up here!", "Register", "Account")</p>
