@{
  Layout = "_Layout";
}

@using Pierre.Models;
@model Pierre.Models.PierreContext;

@if(@Model.Flavors.ToList().Count == 0)
{
<h4>There are currently no flavors listed.</h4>
}
else
{
<h4>Current Flavors:</h4>
@foreach (Flavor flavor in Model.Flavors.ToList())
{
  <li>@Html.ActionLink($"{flavor.Description}", "Details", "Flavors", new {id = flavor.FlavorId})</li>
}
}



@if(@Model.Treats.ToList().Count == 0)
{
<h4>There are currently no treats listed.</h4>
}
else
{
<h4>Current Treats:</h4>
@foreach (Treat treat in Model.Treats.ToList())
{
  <li>@Html.ActionLink($"{treat.Name}", "Details", new { id = treat.TreatId})</li>
}
}



@Html.ActionLink("Flavors", "Index", "Flavors")
@Html.ActionLink("Treats", "Index", "Treats")
@Html.ActionLink("Sign In", "Login","Account")