@{
  Layout = "_Layout";
}
@model Pierre.Models.Flavor
<h1>Add a flavor</h1>
<p>Add a flavor here:</p>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)
  <p>@Html.Label("Flavor Profile")<br>
    @Html.Label("Sweet")
    @Html.RadioButtonFor(model => model.Type, "Sweet")
    @Html.Label("Savory")
    @Html.RadioButtonFor(model => model.Type, "Savory")</p>
  <input type="submit" value="Add new flavor" />
}

<p>@Html.ActionLink("Home", "Index", "Home")</p>
<p>@Html.ActionLink("All Flavors", "Index", "Flavors")</p>