@{
  Layout = "_Layout";
}
@model Pierre.Models.Flavor
<h1>Add a flavor</h1>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)
  <p>@Html.Label("Flavor Profile")<br>
    @Html.Label("Sweet")
    @Html.RadioButtonFor(model => model.Type, "Sweet")
    @Html.Label("Savory")
    @Html.RadioButtonFor(model => model.Type, "Savory")
    @Html.Label("Spicy")
    @Html.RadioButtonFor(model => model.Type, "Spicy")
    </p>

  <input type="submit" value="Add new flavor" />
}
